@{
  Layout = "_Layout";
}
<form action="/buyerdetails" method="post">
<div class="container">
  <label for ="buyer">Name:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-name">
  </div>

  <label for ="buyer">Password:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-password">
  </div>

  <label for ="buyer">Confirm Password:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="confirm-password">
  </div>

  <label for ="buyer">Phone:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-phone">
  </div>
  <label for ="buyer">Email:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-email">
  </div>
  <label for ="buyer">Card Number:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-card-number">
  </div>
  <label for ="buyer">Type of Address:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-type">
  </div>

  <label for ="buyer">Street:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-street">
  </div>

  <label for ="buyer">City:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-city">
  </div>

  <label for ="buyer">State:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-state">
  </div>

  <label for ="buyer">Country:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-country">
  </div>

  <label for ="buyer">Zip:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-address-zip">
  </div>

<div class="add-address">

</div>
<button type="button" class="btn btn-info" name="button" id="another_address">Add another Address</button>

<button type="submit" class="btn btn-info" name="button">Submit</button>
</div>
</form>
