@{
  Layout = "_Layout";
}

<div class="row">
  <div class="page-header" >
    <h1>Your Info:</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Order History:</h3>
      <div class="product-history">
        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
        <p>Item1</p>
        <p>Price</p>
        <p>Purchase Date:</p>
      </div>

      <div class="product-history">
        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
        <p>Item1</p>
        <p>Price</p>
        <p>Purchase Date:</p>
      </div>

      <div class="product-history">
        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
        <p>Item1</p>
        <p>Price</p>
        <p>Purchase Date:</p>
      </div>

      <div class="product-history">
        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
        <p>Item1</p>
        <p>Price</p>
        <p>Purchase Date:</p>
      </div>

      <div class="product-history">
        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
        <p>Item1</p>
        <p>Price</p>
        <p>Purchase Date:</p>
      </div>
    </div>

    <!-- Edit Info Area -->

    <div class="col-md-4">
      <div class="well">
        <p><span class="info-category">Name: </span>Jesse</p>
        <p><span class="info-category">Email: </span>jesse.bryan22@@gmail.com</p><br>
        <p><span class="info-category">Address</span></p>
        <p><span class="info-category">Street: </span>123 Fun Ln</p>
        <p><span class="info-category">City: </span>Seattle</p>
        <p><span class="info-category">State: </span>WA</p>
        <p><span class="info-category">Zip: </span>98125</p>
        <p><span class="info-category">Country: </span>USA</p>
      </div>
    </div>
  </div>
</div>
