@{
  Layout = "_Layout";
}
<div class="page-header" id="featured-header">
  <h1>Cart Details</h1>
</div>

<div class="container">
  <div class="well">
    <div class ="item">
      <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
      <p>Item1</p>
      <p>Price</p>
      <button type="button" class="btn btn-info" name="delete_button">Delete</button>
    </div>
  </div>

  <div class="well">
    <div class ="item">
      <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
      <p>Item1</p>
      <p>Price</p>
      <button type="button" class="btn btn-info" name="delete_button">Delete</button>
    </div>
  </div>

  <div class="well">
    <div class ="item">
      <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
      <p>Item1</p>
      <p>Price</p>
      <button type="button" class="btn btn-info" name="delete_button">Delete</button>
    </div>
  </div>

  <h3>Total</h3>

  <button type="button" class="btn btn-info" name="order_button">Place an Order</button>

</div>
