@{
  Layout = "_Layout";
}

<div class="page-header" id="featured-header">
  <h1>[Category Name]</h1>
</div>

<div class="row sort-by">
  <label>Sort By:</label>
  <select class="sort">
    <option>Price - High to Low</option>
    <option>Price - Low to High</option>
    <option>Brand - A-Z</option>
    <option>Brand - Z-A</option>

  </select>
</div>

<!-- FOREACH loop to create product rows -->

  <div class="row products">
    <div class="column category-product">
      <a href="/products/details"><img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="Los Angeles" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>

    <div class="column category-product">
      <a href="#"><img src="http://pngimg.com/uploads/socks/socks_PNG8264.png?i=1" alt="Los Angeles" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>

    <div class="column category-product">
      <a href="#"><img src="http://www.pngmart.com/files/1/Mens-Pant-PNG-HD.png" alt="Pants" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>

  </div>

  <div class="row products">
    <div class="column category-product">
      <a href="/products/details"><img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="Los Angeles" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>

    <div class="column category-product">
      <a href="#"><img src="http://pngimg.com/uploads/socks/socks_PNG8264.png?i=1" alt="Los Angeles" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>

    <div class="column category-product">
      <a href="#"><img src="http://www.pngmart.com/files/1/Mens-Pant-PNG-HD.png" alt="Pants" style="width:100%;"></a>
      <div class="brand-description">
        <a href="#">[Brand Name]</a><br>
        <a href="#">[Short Description or Product Name]</a><br>
        <a href="#">[Price]</a>
      </div>
    </div>
  </div>
