@{
  Layout = "_Layout";
}

<div class="page-header" id="featured-header">
  @if(Model != null )
  {
    <h1>All @Model["selectedCategory"].GetName()</h1>;
  }
</div>

<div class="row">
  <div class="col-md-6">

  </div>

  <div class="col-md-3">
    <div class="row sort-by">
      <label>Sort By:</label>
      <form class="" action='/categories/@Model["selectedCategory"].GetId()/@Model["buyer"].GetId()' method="post">
      <select class="sort" name="sort">
        <option value="priceHighToLow">Price - High to Low</option>
        <option value="priceLowToHigh">Price - Low to High</option>
        <option value="brandAlphabetical">Brand - A-Z</option>
        <option value="brandAlphabeticalReverse">Brand - Z-A</option>
      </select>
      <button type="submit" name="button" class="btn btn-warning">Sort</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>




<!-- FOREACH loop to create product rows -->
@if(Model != null )
{
  <div class="row products">
  @foreach(var product in Model["selectedCategory"].GetProducts(Model["sortParameter"]))
  {
  <a href='/products/details/@product.GetId()/@Model["buyer"].GetId()'>
      <div class="column category-product" style="background-image: url(@product.GetImage())">

        <div class="brand-description">
           <p>@product.GetBrand()</p>
           <p>@product.GetDescription()</p>
          <p> $@product.GetPrice()</p>
        </div>
      </div>
      </a>
  }
  </div>
}
