@{
  Layout = "_Layout";
}
<h1>@Model["login"]</h1>
<form action="/index/login" method="post">
<div class="container">
  <label for ="author">Name:</label>
  <div class="form-group">
    <input type="text" class="form-control" name="buyer-name">
  </div>

  <label for ="author">Password:</label>
  <div class="form-group">
    <input type="password" class="form-control" name="buyer-password">
  </div>

  <button type="submit" class="btn btn-info" name="button">Sign In</button>
</div>
</form>
