@{
  Layout = "_Layout";
}
<form action="/placed" method="">
  <div class="row">
    <div class="col-md-5">
      <div class="well buyer_details">
        <label>Shipping Address:</label>
        <select class="shipping_address">
          <option>address1</option>
          <option>address2</option>
          <option>address2</option>
        </select>
        <label>Select Payment Method:</label>
        <select class="payment_methods">
          <option>Credit Card</option>
          <option>Debit Card</option>
        </select>
        <label>Select Delivery Options:</label>
        <select class="delivery_options">
          <option>Express Delivery: 1 to 2 days</option>
          <option>Standard Delivery: 3 to 5 days </option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="well order_details">
        <div class="container">
          <div class="well">
            <div class ="item">
              <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
              <p>Item1</p>
              <p>Price</p>
              <button type="button" class="btn btn-info" name="delete_button">Delete</button>
            </div>
          </div>

          <div class="well">
            <div class ="item">
              <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
              <p>Item1</p>
              <p>Price</p>
              <button type="button" class="btn btn-info" name="delete_button">Delete</button>
            </div>
          </div>

          <div class="well">
            <div class ="item">
              <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5436.png" alt="tshirt">
              <p>Item1</p>
              <p>Price</p>
              <button type="button" class="btn btn-info" name="delete_button">Delete</button>
            </div>
          </div>
      </div>
    <div>
  </div>
</form>
