@{
  Layout = "_Layout";
}
@if(Model != null)
{
<div class="row">
  <div class="col-md-4">
    <img src='@Model["product"].GetImage()' id="productimg">
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="page-header">
        <h1>@Model["product"].GetName()</h1>
        <h1>@Model["product"].GetBrand()</h1>
      </div>
    </div>
    </div>

    <form action="/cart" method="post">
      <div class="row">
        <h3>Price: $100</h3>
      </div>

        <label>Size:</label>
        <select class="size">
          <option value="small">Small</option>
          <option value="small">Medium</option>
          <option value="small">Large</option>
        </select>

      <div class="row colors">
        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-1" value> </div>
        </label>

        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-2" value> </div>
        </label>
        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-3" value> </div>
        </label>
        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-4" value> </div>
        </label>
        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-5" value> </div>
        </label>
        <label>
          <input type="radio" name="colors" value="black">
          <div class="color color-6" value> </div>
        </label>
      </div>
    </div>
    <div class="col-md-3" id="cart">
      <label for="quantity">Quantity:</label>
      <input type="number" min="1" max="20" name="quantity">
      <button type="submit" class="btn btn-warning">Add to cart</button>
    </div>
    }
    </form>


</div>
