@{
  Layout = "_Layout";
}

<div class="page-header" id="featured-header">
  <h1>Results for @Model["searchString"]</h1>
</div>

<!-- FOREACH loop to create product rows -->
@if(Model != null )
{
  <div class="row products">
    @foreach(var product in Model["searchResults"])
  {
  <a href='/products/details/@product.GetId()/@Model["buyer"].GetId()'>
      <div class="column category-product" style="background-image: url(@product.GetImage())">

        <div class="brand-description">
           <p>@product.GetBrand()</p>
           <p>@product.GetDescription()</p>
          <p> $@product.GetPrice()</p>
        </div>
      </div>
      </a>
  }
  </div>
}
