<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy Ben Budinger, Jesse Bryan, Jonathan Stein, Parul Mishra</p>
    <p class="text-muted">Epicodus, C# Team Week</p>
  </div>
</footer>
