<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/@Model["buyer"].GetId()'>Online Shop</a>
    </div>

    <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
      <div class="input-group">
          <input name="searchtext" value="" class="form-control" type="text" placeholder="Enter search here">
          <span class="input-group-btn">
             <button class="btn btn-default" type="submit" id="addressSearch">
                 <span class="icon-search">Search</span>
             </button>
          </span>
      </div>
  </form>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            @foreach(var category in Model["categories"])
            {
                <li><a href='/categories/@category.GetId()/@Model["buyer"].GetId()'>@category.GetName()</a></li>
            }
          </ul>
        </li>
      </ul>



      <ul class="nav navbar-nav navbar-right">
        <li><a href='/cart/@Model["buyer"].GetId()'>Cart</a></li>
        @if(Model["buyer"].GetId()!=0)
        {
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model["buyer"].GetUsername() <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/buyerdetail/@Model["buyer"].GetId()'>Order History</a></li>
              <li><a href="/updateBuyerInfo/@Model["buyer"].GetId()">Edit profile</a></li>
            </ul>
          </li>
        }
        else{
          <li><a href="/login">Log in</a></li>
        }

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
