body {
  font-family: 'Poppins', sans-serif;
}

#featured-header{

  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #9994aa;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer{
  background-color: #e0cab3;
  padding: 2em;
  /*position: fixed;
  bottom: 0;
  width: 100%;*/
}

.nav
{
  font-size: 1.5em;
  margin-bottom: 0px;
}
.navbar{
  background-color: #f6f4f9;
  margin-bottom: 0px;
}
.navbar-brand{
  font-size: 2em;
  margin: 10px;
}


.form-horizontal {
  padding-top: 20px;
  width: 80%;
  display: inline-block;
  position: relative;
  margin: auto;
}
.featured{
  background-color: #7BC1AE;
  margin: 10px;
}
#myCarousel{
  background-color: #fff;
  width:100%;
}
.featured-carousel img{
 height: auto;
 max-width: 500px;
 padding: 50px;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.glyphicon{
  color: black;
}
.glyphicon:hover{
  color: grey;
}
.page-header{
  text-align: center;
}

/* Details Page */

.colors {
  margin-top: 50px;
  margin-left: 10px;
}

.options {
  text-align: center;
}

.select-size {
  margin-top: 50px;
}

.color {
  border: 1px solid grey;
  display: inline-block;
  width:50px;
  height:50px;
  margin: 0 5px;
}

.color:hover {
  opacity: 0.6;
  border: 3px solid black;
}

.color-1 {
  background-color: black;
}

.color-2 {
  background-color:white;
}

.color-3 {
  background-color:skyblue;
}

.color-4 {
  background-color:green;
}

.color-5 {
  background-color:red;
}

.color-6 {
  background-color:beige;
}
input[type="radio"]{
  visibility: hidden;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  display: none;
  position: absolute; /* Remove input from document flow */
}
label > input + div{ /* IMAGE STYLES */
  cursor:pointer;
}
label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 3px solid black;
}

.images {
  text-align: center;
}

#productimg{
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
}
#cart{
  margin-top: 155px;
  padding-left: 50px;
}

#cart button{
  margin-top: 20px;
  font-size: 1.3em;
}
#cart label, input{
  font-size: 1.3em;
}

.cart-well {
  text-align: center;
}

/* Category page */
.products {
  text-align: center;
}
.sort-by {
  text-align: right;
  padding: 10px 30px 0 0;
  margin-top:-1px;
  /*border-bottom: 1px solid rgb(238, 238, 238);*/
}
.category-product{
  margin: 30px 0;
}
.category-product img{
  display: block;
  max-height: 150px;
  max-width: 150px;
  width:50%;
  height:50%;
  margin:auto;
}
.column {
  display:inline-block;
  border: 1px solid rgb(238, 238, 238);
  background: linear-gradient(to bottom, #FFF 0%, rgb(251, 251, 251) 100%);
  width:28%;
  margin: 10px 20px;
  padding: 15px 0;
  min-height: 250px;
  min-width: 250px;
}
.brand-description {
  display:inline-block;
  margin-top:30px;
}
/* Cart page */

.main-cart {
  margin-top: 20px;
}

.product {
  position: relative;
  text-align: center;
}

.cart-items {
  text-align: center;
}

#empty-cart {
  margin-bottom: 20px;
}

.order-placement {
  text-align: center;
  height: 122px;
}

.order-placement h3 {
  margin-top:5px;
  margin-bottom:15px;
}

.product img
{
  max-width: 50px;
  max-height: 50px;
}
.product *
{
  margin: 0 20px;
  display: inline-block;
  font-size: 1.2em;
}

.product-well {
  width:100%;
}

.product button {
  font-size: 0.8em;
  /*position: absolute;
  right:0;
  top:7px;*/
}
/* Buy page */

.main-order {
  margin-top: 20px;
}

.buy-options
{

}
.order_details
{
}
.bill_details
{

}

/* Buyer Detail Page */

.product-history img{
  width: 50px;
  height: 50px;
}

.product-history *
{
  margin: 20px;
  display: inline-block;;
}
